  
  .main{
    background-image: url(../Images/woonkamer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 100px 0px;
  }

  .main-bestel{
    color: #3d3d3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:350px;
    margin-right: 1%;
    border: 1px solid #A00025;
    border-radius: 10px;
    margin: -50px 0% 10% 0%;
    padding: 5%;
    background-color: #fff;
  }

  .main-bestel input{
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
  }

  .main-bestel button{
  border-radius: 15px;
  }

  .main-bestel div{
    border-radius: 15px;
  }

  .main-bestel p{
    font-size: 24px;
    color: #3d3d3d;
  }

  .main-bestel h2{
    color: #A00025;
  }

  #bestel{
    display: none;
  }

  .main-prijs{
    background-color: #fff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #A00025;
    padding: 5%;
    margin-bottom: 10%;
  }

  .main-prijs p{
    font-size: 24px;
    padding-bottom: 0px;
    color: #3d3d3d;
  }

  .main-prijs h2{
    color: #A00025;
  }

  #kleurselect{
      width: 200px;
      height: 200px;
      background-color: white;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .prijs{
    margin: 0px 15px 15px 15px;
    border-bottom: 1px solid black;
  }

  .main-prijs-titel{
    margin: 15px 15px 5px 15px;
  }

  #assistentie{
    font-size: 14px;
  }

  #total-prijs{
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    margin-top: 15px;
    border-radius: 15px;
    text-align: center;
    width: 50%;
  }

  #totaal{
    margin-top: 0px;
  }

  #selecteer{
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    margin-top: -10px;
  }

  #tools{
    text-align: left;
  }

#totaal-prijs{
  font-weight: 900;
  margin-top: 5px;
}

#andere-kleur{
  font-size: 12px;
  margin: 10px;
}

#alert-m2{
  display: none;
  background-color: rgb(206, 74, 105);
  margin-top: 15px;
}

#alert-m2 p{
  color: #fff;
  font-size: 14px;
}

#zwolle{
  font-size: 14px;
  border: 2px solid rgb(206, 74, 105);
  border-radius: 5px;
  padding: 10px;
  display: none;
}

#vloer-alert{
  display: none;
  padding: 5px;
  border: 1px solid rgb(206, 74, 105);
  border-radius: 15px;
  color: white;
  background-color: rgb(206, 74, 105);
}


  /* Industrieel */

#ind-rood{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/ind-rood.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: none;
}

#ind-rood p{
  font-size: 16px;
}

#ind-lichtgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/ind-lichtgrijs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#ind-lichtgrijs p{
  font-size: 16px;
}

#ind-blauw{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/ind-blauw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#ind-donkergrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/ind-donkergrijs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#ind-bt-grijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/ind-bt-grijs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#ind-bt-lichtgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/ind-bt-lichtgrijs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Sportief */

#spr-blauw{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spr-blauw.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spr-geel{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spr-geel.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spr-lichtblauw{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spr-lichtblauw.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spr-rood{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spr-rood.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spr-bt-donkergrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spr-bt-donkergrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spr-bt-lichtgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spr-bt-lichtgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Stedelijk */

#std-blauw{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/std-blauw.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#std-groen{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/std-groen.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#std-taupe{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/std-taupe.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 20px;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#std-violet{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/std-violet.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 20px;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#std-bt-blauw{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/std-bt-blauw.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#std-bt-grijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/std-bt-grijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Minimalistisch */

#mnm-blauw{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/mnm-blauw.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#mnm-grijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/mnm-grijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#mnm-lichtgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/mnm-lichtgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#mnm-wit{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/mnm-wit.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#mnm-bt-klei{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/mnm-bt-klei.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#mnm-bt-lichtgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/mnm-bt-lichtgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Organisch */

#org-beige{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/org-beige.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#org-bruingroen{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/org-bruingroen.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#org-geelgroen{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/org-geelgroen.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#org-groen{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/org-groen.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#org-bt-donkergrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/org-bt-donkergrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#org-bt-lichtgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/org-bt-lichtgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Speels */

#spl-blauw{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spl-blauw.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spl-groen{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spl-groen.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spl-roze{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spl-roze.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spl-wit{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spl-wit.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spl-bt-blauw{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spl-bt-blauw.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#spl-bt-rood{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/spl-bt-rood.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Cultuur */

#clt-beige{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/clt-beige.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#clt-goud{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/clt-goud.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#clt-grijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/clt-grijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#clt-terracotta{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/clt-terracotta.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#clt-bt-bruin{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/clt-bt-bruin.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#clt-bt-lichtgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/clt-bt-lichtgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Luxe */

#lux-brons{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/lux-brons.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#lux-bruin{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/lux-bruin.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#lux-grijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/lux-grijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#lux-groen{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/lux-groen.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#lux-bt-groen{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/lux-bt-groen.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#lux-bt-paars{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/lux-bt-paars.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Klassiekers */

#kls-blauwgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-blauwgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-bruingrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-bruingrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-grijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-grijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-grijsgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-grijsgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-lichtgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-lichtgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-roodgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-roodgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-wit{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-wit.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-bt-blauwgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-bt-blauwgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-bt-donkergrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-bt-donkergrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-bt-grijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-bt-grijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-bt-lichtgrijs{
height: 200px;
width: 200px;
background-image: url(../Arturo-kleuren/kls-bt-lichtgrijs.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 5px 5px 5px #3d3d3d;
cursor: pointer;
border-radius: 10px;
display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-bt-lichtroze{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/kls-bt-lichtroze.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-bt-roze{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/kls-bt-roze.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#kls-bt-zand{
  height: 200px;
    width: 200px;
    background-image: url(../Arturo-kleuren/kls-bt-zand.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 5px #3d3d3d;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  }
  
  #kls-bt-zandgrijs{
  height: 200px;
    width: 200px;
    background-image: url(../Arturo-kleuren/kls-bt-zandgrijs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 5px #3d3d3d;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  }
