#main-experts{
    height: auto;
}

#kiezer-kenniscentrum{
        text-align: center;
        align-self: center;
        margin: 100px 100px 100px 100px;
        font-size: 70px;
        vertical-align: middle;
        color: #A00025;
}

#fotos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foto{
    margin: 0px 50px 0px 50px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
}

.foto img{
    border-radius: 15px;
}

#experts-section{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact-experts{
    margin: 50px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contact-experts h2{
    color: #A00025;
}

#contact-inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-radius: 15px;
    padding: 15px;
    margin: 0px 100px 0px 100px;
}

#contact-methods{
    display: flex;
    justify-content: space-evenly;
}

#blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

#blog h2{
    color: #A00025;
}

#kenniscentrum-adviesgesprek-button{
    border: green 1px solid;
    padding: 15px;
    font-size: 20px;
    margin: 50px 10px 0px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    color: green;
    border-radius: 15px;
}

#persoonlijk-advies-kenniscentrum-h2{
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    color: #A00025;
    margin: 50px
}

/* Articles */

#article-heading{
    width: 100%;
    min-height: 600px;
    height: auto;
    background-image: linear-gradient(to right, #bd773b, #d39b57);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#article-heading h1{
    color: #FFF;
    font-size: 35px;
    letter-spacing: 1.5px;
    border-bottom: 0.2px solid #FFF;
    padding-bottom: 15px;
}

#article-heading h2{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 50px;
    text-transform: uppercase;
}

#article-summary{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 50px 30px 50px;
}

#article-summary p{
    color: #FFF;
    letter-spacing: 1.5px;
    text-align: left;
}

#article-summary a{
    color: #FFF;
}

#text-div{
    width: 300px;
}

#SVG-div{
    width: 500px;
}

#sub-summary{
    font-size: 16px;
    color: rgb(49, 49, 49);
}

#article-summary svg{
    width: 100%;
    margin-top: -50px;
}

#Animate1{
    animation-name: checkbox-animation;
    animation-duration: 6s;
    fill: #FFF;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
}

#Animate2{
    animation-name: checkbox-animation;
    animation-duration: 6s;
    animation-delay: 2s;
    fill: #FFF;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#Animate3{
    animation-name: checkbox-animation;
    animation-duration: 6s;
    animation-delay: 4s;
    fill: #FFF;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes checkbox-animation{
    from {fill: #FFF;}
    to {fill: #A00025;}
}

#article-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 100px;
}

#article-content h1{
    color: #A00025;
    font-size: 35px;
}

#article-content a{
    text-decoration: none;
}

#content-outer-div{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
}

#content-outer-div h1{
    border-bottom: 1px solid #A00025;
    font-size: 24px;
}

#content-outer-div h2{
    text-align: left;
    font-size: 20px;
}

.content-inner-div{
    margin: 15px;
}

.header-dag{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #bd773b, #d39b57);
    color: #fff;
    padding: 30px;
    width: 100%;
    text-align: center;
}

#header-dag-1 p{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#header-dag-1 h2{
    color: #FFF;
}

#content-dag-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
}

.sub-header-pre{
    color: #FFF;
    width: 75%;
}

#tools-taak-1{
    margin-top: 50px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#tools-taak-1 li{
    text-align: left;
}

.content-text{
    width: 100%;
    margin: 50px 0px 20px 0px;
}

.content-text-inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-text h3{
    color: #A00025;
}

.content-text p{
    letter-spacing: 1.5px;
    text-align: left;
    font-weight: 100;
}

.text-node{
    width: 700px;
    border-bottom: 1px solid #A00025;
}

.foto-video{
    width: auto;
}

.foto-video iframe{
    padding: 15px;
}

#belopen li{
    text-align: left;
}

.blog-overview-outer-div{
    width: 230px;
    height: 300px;
    margin: 15px 15px 30px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.blog-overview-outer-div p{
    padding: 15px;
}

.blog-overview-header img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 130px;
    padding: -15px -15px 0px -15px;
}

/* Normale blog posts */

#blog-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0px 200px 0px 200px;
}

#blog-outer-div img{
    width: 100%;
}

.blog-title{
    margin: 100px 0px 50px 0px;
}

.blog-title h1{
    font-size: 40px;
}

.blog-header img{
    z-index: -1;
    width: 100%;
    margin-right: auto;
}

.blog-text{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin: 50px 0px 100px 0px;
    
}

.blog-text h3{
margin: 30px 0px 0px 0px;
}

.blog-text p{
    letter-spacing: 1.5px;
}

.blog-meta{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid rgba(227, 227, 227, 0.5);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(227, 227, 227, 0.5);
  }

  #datum-icon{
      width: auto !important;
  }

  #pen-icon{
    width: auto !important;
  }

  #prijs-tool{
      background-color: rgba(227, 227, 227, 0.5);
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 50px 0px 50px 0px;
  }

  #prijs-tool input{
      font-size: 18px;
  }

  #totaal{
      background-color: white;
      width: 100%;
      margin-top: 0px;
  }

  #button-prijs-tool{
      color: green !important;
      cursor: pointer;
      font-size: 14px;
      box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 15px;
  }

  #prijs-vloer{
      width: 100%;
  }

  #prijs-tool p{
      color: #3d3d3d !important;
  }

  .all-options-prijs-tool{
      font-size: 14px;
  }

  #prijs-vloer{
    font-size: 50px;
}

.verder-lezen-blog{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.blog-text li{
    letter-spacing: 1.5px;
}

.image-ondergrond{
    width: 500px !important;
}

@media only screen and (max-width: 938px){

    section{
        width: 100%;
    }

    #kiezer-kenniscentrum{
        margin: 100px 0px 100px 0px;
        font-size: 40px;
}

    #fotos{
        flex-direction: column;
    }

    .foto {
        margin: 0px 0px 0px 0px;
        width: 95%;
    }

    #article-content {
        padding: 0px;
    }

    #tools-taak-1 img{
        width: 95%;
    }
    
    .header-dag {
        padding: 30px 0px 30px 0px;
    }

    #contact-methods {
        flex-direction: column;
    }

    #content-dag-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 0px 30px 0px;
        width: 100%;
    }

    .text-node{
        width: 80%;
    }

    .foto-video iframe {
        width: 95%;
    }

    #contact-inner-div {
        margin: 0px 0px 0px 0px;
    }

    #blog-outer-div {
        margin: 0px 0px 0px 0px;
    }

    .blog-text {
        margin: 50px 20px 100px 20px;
    }

    .blog-title h1 {
        margin: 0px 20px 0px 20px;
    }

    .image-ondergrond {
        width: 100% !important;
    }
}