#kiezer{
  text-align: center;
  align-self: center;
  margin: 100px 50px 0px 50px;
  font-size: 70px;
  color: #A00025;
}

#kiezerdiv{
  
  margin-bottom: 100px;
  height: auto;
  width: 100%;
}

#menu-up{
  border: 1px solid #3d3d3d;
  border-radius: 50%;
  align-self: center;
}

.show-color{
  margin-top: 0px;
  cursor: pointer;
  font-weight: 400 !important;
  font-size: 11px !important;
}

.select-color-container img{
  height: 30px;
}

.select-color{
  margin-top: -65px;
  cursor: pointer;
  font-weight: 400 !important;
  font-size: 11px !important;
  border: 1px solid #131313;
  padding: 3px;
  border-radius: 5px;
}
  
.style{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Prata', serif;
  margin-bottom: 50px;
  cursor: pointer;
  position: sticky;
  top: 0px;
  background-color: #fff;
  box-shadow: 0 5px 9px -5px rgb(0 0 0 / 20%), 0 7px 21px -15px rgb(0 0 0 / 19%);
}

.style h2{
  margin: 5px;
  padding: 5px;
  color: #3d3d3d;   
  font-size: 16px;
  font-weight: 100;
}

.style h2:hover{
  border-bottom: 1px solid rgb(201, 79, 107);
  border-top: 1px solid rgb(201, 79, 107);;
  border-color: #fff;
}

.style a:link{
  text-decoration: none;
}

#complete-view-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid lightgray;
}

#complete-view-button-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#complete-view-button-div img{
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

#complete-view-inner-div{
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#complete-view-inner-div h1{
  text-align: center;
  margin-top: 50px;
}

.select-color-button{
  color: #131313;
  margin-top: 30px;
  display: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.color-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-box p{
  font-size: 14px;
  font-weight: bold;
}

.style-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.complete-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#betonlook-indicator{
  display: none;
  margin-top: -20px;
}

.select-color-container p{
  font-size: 14px;
  margin-bottom: 0px;
}

.select-color-container button{
  font-size: 16px;
}

#industrieel{
  display: flex;
  margin: 20px;
}

#sportief{
  display: flex;
  margin: 20px;
}

#stedelijk{
  display: flex;
  margin: 20px;
}

#minimalistisch{
  display: flex;
  margin: 20px;
}

#organisch{
  display: flex;
  margin: 20px;
}

#speels{
  display: flex;
  margin: 20px;
}

#cultuur{
  display: flex;
  margin: 20px;
}

#luxe{
  display: flex;
  margin: 20px;
}

#klassiekers{
  display: flex;
  margin: 20px;
}

.impressie{
  height: 1000px;
  width: 98%;
}

.selector{
  color: #fff;
  text-align: center;
}

.selectie{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selectie p{
  color: #fff;
  text-align: center;
}

.sCart{
  background-image: url("../Images/Choppingcart.png");
}

.kleurvlak{
  height: vh;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kleurvlakSpr{
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kleurvlakStd{
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kleurvlakMnm{
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kleurvlakOrg{
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kleurvlakSpl{
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kleurvlakClt{
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kleurvlakLux{
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kleurvlakKls{
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  padding:0px;
  box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#bestel{
  color: #fff;
  width: 60%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 80px;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 5px;
}

/* Industrieel */

#ind-rood{
      height: 200px;
      width: 200px;
      background-image: url(../Arturo-kleuren/signal-red.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 20px;
      box-shadow: 5px 5px 5px #3d3d3d;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  #ind-lichtgrijs{
    height: 200px;
      width: 200px;
      background-image: url(../Arturo-kleuren/steely-gray.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 20px;
      box-shadow: 5px 5px 5px #3d3d3d;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  #ind-blauw{
    height: 200px;
      width: 200px;
      background-image: url(../Arturo-kleuren/grizzled-blue.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 20px;
      box-shadow: 5px 5px 5px #3d3d3d;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  #ind-donkergrijs{
    height: 200px;
      width: 200px;
      background-image: url(../Arturo-kleuren/cool-gray.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 20px;
      box-shadow: 5px 5px 5px #3d3d3d;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  #ind-bt-grijs{
    height: 200px;
      width: 200px;
      background-image: url(../Arturo-kleuren/worked-metal.jpg);
      background-repeat: repeat;
      background-position: center;
      background-size: cover;
      margin: 20px;
      box-shadow: 5px 5px 5px #3d3d3d;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  #ind-bt-lichtgrijs{
    height: 200px;
      width: 200px;
      background-image: url(../Arturo-kleuren/rough-lead.jpg);
      background-repeat: repeat;
      background-position: center;
      background-size: cover;
      margin: 20px;
      box-shadow: 5px 5px 5px #3d3d3d;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  /* Sportief */

#spr-blauw{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/cyber-blue.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spr-geel{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/medal-yellow.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spr-lichtblauw{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/3D-blue.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spr-rood{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/dynamic-red.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spr-bt-donkergrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/dark-move.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spr-bt-lichtgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/fresh-power.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

/* Stedelijk */

#std-blauw{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/inky-blue.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#std-groen{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/modest-green.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#std-taupe{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/comfortable-taupe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#std-violet{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/heedless-violet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#std-bt-blauw{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/worn-stuff.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#std-bt-grijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/downtown-mix.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

/* Minimalistisch */

#mnm-blauw{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/plainspoken-blue.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#mnm-grijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/simple-gray.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#mnm-lichtgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/natural-gray.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#mnm-wit{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/pure-white.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#mnm-bt-klei{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/mixed-glay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#mnm-bt-lichtgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/looming-dust.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

/* Organisch */

#org-beige{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/rib-beige.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#org-bruingroen{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/deepwater-green.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#org-geelgroen{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/forest-green.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#org-groen{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/intense-green.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#org-bt-donkergrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/jungle-leafs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#org-bt-lichtgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/mild-shades.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

/* Speels */

#spl-blauw{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/cute-blue.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spl-groen{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/pale-green.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spl-roze{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/faded-rose.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spl-wit{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/cotton-white.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spl-bt-blauw{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/tender-breeze.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#spl-bt-rood{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/early-dew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

/* Cultuur */

#clt-beige{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/cozy-beige.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#clt-goud{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/sunset-gold.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#clt-grijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/easy-grey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#clt-terracotta{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/terracotta-red.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#clt-bt-bruin{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/outback-dream.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#clt-bt-lichtgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/cosmic-fusion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

/* Luxe */

#lux-brons{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/splendid-bronze.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#lux-bruin{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/avenue-leather.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#lux-grijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/elegant-grey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#lux-groen{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/distinct-green.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#lux-bt-groen{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/rich-flow.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#lux-bt-paars{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/chique-motion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

/* Klassiekers */

#kls-blauwgrijs{
  height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/iron-grey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#kls-bruingrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/dusty-grey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#kls-grijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/stylish-grey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#kls-grijsgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/calm-grey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#kls-lichtgrijs{
  height: 200px;
    width: 200px;
    background-image: url(../Arturo-kleuren/misty-grey.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-shadow: 5px 5px 5px #3d3d3d;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }
  
  #kls-roodgrijs{
  height: 200px;
    width: 200px;
    background-image: url(../Arturo-kleuren/fossil-grey.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-shadow: 5px 5px 5px #3d3d3d;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }
  
  #kls-wit{
  height: 200px;
    width: 200px;
    background-image: url(../Arturo-kleuren/basic-white.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-shadow: 5px 5px 5px #3d3d3d;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

#kls-bt-blauwgrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/graphite-touch.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#kls-bt-donkergrijs{
height: 200px;
  width: 200px;
  background-image: url(../Arturo-kleuren/raw-basalt.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  box-shadow: 5px 5px 5px #3d3d3d;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}

#kls-bt-grijs{
  height: 200px;
    width: 200px;
    background-image: url(../Arturo-kleuren/frozen-cosmic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-shadow: 5px 5px 5px #3d3d3d;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }
  
  #kls-bt-lichtgrijs{
  height: 200px;
    width: 200px;
    background-image: url(../Arturo-kleuren/soft-stone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-shadow: 5px 5px 5px #3d3d3d;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  #kls-bt-lichtroze{
    height: 200px;
      width: 200px;
      background-image: url(../Arturo-kleuren/morning-flow.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 20px;
      box-shadow: 5px 5px 5px #3d3d3d;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    
    #kls-bt-roze{
    height: 200px;
      width: 200px;
      background-image: url(../Arturo-kleuren/calm-breeze.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 20px;
      box-shadow: 5px 5px 5px #3d3d3d;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    #kls-bt-zand{
      height: 200px;
        width: 200px;
        background-image: url(../Arturo-kleuren/sandy-shades.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 20px;
        box-shadow: 5px 5px 5px #3d3d3d;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      }
      
      #kls-bt-zandgrijs{
      height: 200px;
        width: 200px;
        background-image: url(../Arturo-kleuren/basic-wash.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 20px;
        box-shadow: 5px 5px 5px #3d3d3d;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      }
  
      /* Media queries */

@media only screen and (max-width: 500px){
    #kiezer{
      font-size: 35px;
      margin: 100px 0px 0px 0px;
  }

  .style h2{
    font-size: 14px;
  }
}