h1{
  margin: 100px 0px 50px 0px;
  color: #3d3d3d;
  font-size: 40px;
  text-align: center;
}

#stappenHeadDiv{
    height: auto;
    width: 100%;
}

.landing-menu{
    margin-bottom: 30px;
}

.overzichtdagen{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Prata', serif;
        margin-bottom: 50px;
        cursor: pointer;
        position: sticky;
        top: 0.1px;
        border-bottom: 1px solid #3d3d3d;
        border-color: #3d3d3d;
        background-color: #fff;
}

.overzichtdagen h2{
    margin: 5px;
    padding: 5px;
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 100;
}

#menu-up{
    border: 1px solid #3d3d3d;
    border-radius: 50%;
    align-self: center;
}

.overzichtdagen h2:hover{
    border-bottom: 1px solid rgb(201, 79, 107);
    border-top: 1px solid rgb(201, 79, 107);;
    border-color: #fff;;
}

#Dag1{
    margin-bottom: 10px;
}
  
#Dag2{
    margin-bottom: 10px;
}

#Dag3{
    margin-bottom: 10px;
}

#Dag4{
    margin-bottom: 10px;
}

#Dag5{
    margin-bottom: 10px;
}

#stappenoverzicht{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 100px; 
    margin-left: 10%;
}

.dagen{
    display: flex;
    height: 100px;
    width: auto;
    cursor: pointer;
}

.dagen h2{
    color: #3d3d3d;
    text-align: left;
    font-size: 50px;
    margin: 20px;
}

.dagen h3{
    font-size: 50px;
    color: #A00025;
    margin: 25px 15px 0px 15px;

}

#overzicht1{
    display: none;
}

.onderwerp{
    display: flex;
    margin: 0px 15px 0px 15px;
    border-bottom: 1px solid #3d3d3d; 
    height: auto;
    width: auto;
    text-align: center; 
}

.onderwerp h2{
    margin-bottom: 20px;
}

.belichten:hover{
    cursor: pointer;
    color: #A00025;
}

.onderwerp h3{
    margin: 30px 15px 0px 0px;
    font-size: 25px;
    color: #3d3d3d;
}

.deel1{
    display: flex;
    flex-direction: column;
}

.benodigdheden{
    display: flex;
    height: auto;
    width: auto;
    margin: 0px 0px 0px 50px;
    border-bottom: 1px solid #3d3d3d; 
}

.benodigdheden h3{
    font-size: 25px;
    margin: 10px;
}

.benodigdheden li{
    margin-right: 15px;
    color: #3d3d3d;
}

.more-info:hover{
    color: #A00025;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}

.stappen h3{
    font-size: 25px;
    margin: 0px;
}

.container{
    display: flex;
    height: auto;
}

.container h2{
    color: #A00025;
    font-size: 25px;
}

.main{
    margin: 0px 0px 10px 15px;
}

.stappen{
    margin: 10px 0px 10px 100px;
    border-bottom: 1px solid #3d3d3d; 
}

.stap{
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: auto;
}

.stap p{
    margin: 0px;
}

/* Modal */
.modalBG{
  display: none; /* Hidden by default */
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  align-items: center;
}

.modal{
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal div{
    width: 100%;
    margin: 30px 0px 30px 0px;
    text-align: center;
}

.modal-h1{
    width: 100%;
    font-size: 40px;
    margin: 100px 20px 50px 20px;
}

#uitleg{
    width: 90%;
}

.weg{
    align-self: center;
    cursor: pointer;
    position: fixed;
    margin: 10px;
    border: 1px solid #A00025;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.bestel-item{
    cursor: pointer;
}

.check-id{
    background-image: none;
    height: 20px;
    width: 20px;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
    margin: 3px 15px 0px 20px;
    float: right; 
    min-height: 20px;
    min-width: 20px;
}

/* Media queries */

@media only screen and (max-width: 500px){
    .onderwerp{
        flex-direction: column;
    }

    .onderwerp h3{
        display: none;
    }

    .benodigdheden{
        flex-direction: column;
    }

    .benodigdheden h3{
        text-align: center;
    }

    .container{
        flex-direction: column;
    }


    .main{
        margin: 0px 0px 10px 0px;
    }

    .stappen{
        margin: 20px 0px 0px 0px;
    }

    .stappen h3{
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    #kiezer{
        font-size: 35px;
        margin: 20px 0px 20px 0px;

    }

    #stappenoverzicht{
        margin: 0px 10px 20px 10px; 
    }

    .dagen {
        display: flex;
        justify-content: center;
    }

    .voorbeeld img{
        height: 50%;
        width: 50%;

    }

    .youtube{
        height: 90%;
        width: 90%;
    }

    .youtube iframe{
        width: 80%;
    }

    .overzichtdagen h2{
        font-size: 16px;
    }
}