
html {
	scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

p{
    font-family: 'Lato', sans-serif;
    color: #131313;
    font-size: 20px;
}

li{
    font-family: 'Lato', sans-serif;
    color: #131313;
    font-size: 20px;
}

h1{
    font-family: 'Prata', serif;
    color: #131313;
    font-size: 30px;
    margin: 10px;
    font-weight: 100;
}

h2{
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    color: #131313;
}

h3{
    color: #131313;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

h4{
    font-size: 20px;
}

h5{
    margin-top: 7px;
    font-size: 14px;
    font-weight: 100;
}

a:any-link {
    color: #A00025;
}

a:any-link:hover {
    color: #A00025;
    text-decoration: none;
}

button{
    border: #c4c4c4;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffff;
    color: #A00025;
    border-radius: 15px;
}

button:hover{
    background-color: #ffffff;
}

form{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #131313;
    margin: 30px
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

option{
    font-size: 20px;
}

#button2{
    border: #A00025 1px solid;
    padding: 15px;
    font-size: 20px;
    margin: 50px 10px 50px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    color: #A00025;
    border-radius: 15px;
}

#button3{
    border: green 1px solid;
    padding: 15px;
    font-size: 20px;
    margin: 50px 10px 0px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    color: green;
    border-radius: 15px;
}

#button4{
    box-shadow: 0 5px 9px -3px rgb(0 0 0 / 20%), 0 7px 21px -15px rgb(0 0 0 / 19%);
    border-radius: 5px;
    padding: 15px;
    font-size: 25px;
    margin: 50px 10px 50px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    color: #A00025;
    border-radius: 15px;
}

iframe{
    border-radius: 15px;
    width: 90%;
    height: 300px;
}

/* Menu */

#logo {
    margin: 0px 80px 0px 20px !important;
    justify-self: flex-start;
}

#logo-menu{
    width: 220px;
}

#menu{
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
}

#menu a:link{
    text-decoration: none;
    color: #131313;   
}

#menu a:visited{
    text-decoration: none;
    color: #131313;   
}

#menu a:active{
    text-decoration: none;
    color: #A00025;   
}

#menu a:hover{
    text-decoration: none;
    color: #A00025; 
    font-weight: 700;  
}

#menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Prata', serif;
    font-size: 18px;
    margin: 0px;
}

#menu li{
    padding: 30px;
    color:#131313;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: bold;
}

#menuItems{
    display: none;
    background-color: rgba(227, 227, 227);
}

#winkelwagen{
    align-self: flex-end;
}

/* Header */

#title-button{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    border-radius: 5px;
}

#CTA-header-subtile{
    font-size: 15px;
    margin: 5px 0px 0px 0px;
}

#headshot-CTA-button{
    height: 80px;
    border-radius: 50%;
}

#CTA-header-title{
    color: #A00025;
    margin: 0px;
}

#title-button a{
    text-decoration: none;
    font-size: 20px;
}

#title-button a:hover{
    color: #A00025;
}

.button-cards:hover{
    box-shadow: 0 5px 9px -5px rgb(0 0 0 / 20%), 0 7px 21px -15px rgb(0 0 0 / 19%);
    border-radius: 15px;
}

#titel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff95;
    margin-top: 100px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 15px;
    position: fixed;
}

#titel-light{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

#landing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landing-light{
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 100%;
    background-image: url(../Images/main-header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#titeltext{
    font-size: 90px;
    color: #A00025;
    margin: 0px 0px 0px 10px;
    padding: 10px;
}

#subtitel{
    margin: 0px 0px 30px 10px;
    font-size: 55px;
    font-weight: 100;
    color: #A00025;
    text-shadow: 1px 1px 10px white;
    margin: 20px;
    padding: 20px;
}

#kiezer{
    text-align: center;
    align-self: center;
    margin: 100px 100px 0px 100px;
    font-size: 70px;
    vertical-align: middle;
    color: #A00025;
  }


/* Info */

#titelhead{
    font-size: 40px;
    margin: 100px 50px 50px 50px;
    color: #A00025;
    font-weight: 600;
}

#subtitle{
    margin: 20px 20px 50px 20px;
    font-weight: 600;
}

#heading{
    font-size: 70px;
    display: flex;
    margin: 50px 50px 50px 50px;
}

#reference-inner-div img{
    height: 300px;

}

#sectionA{
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
    background-image: url(../Images/jackyactiefCleanIII.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 60%;
}

#teller{
    margin-bottom: 0px;
}

#teller h1{
    font-size: 50px;
    color: #A00025;
}

#karel-photo{
    border-radius: 50%;
  }

#infoSectionA{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.infoA{
    height: auto;
    width: 33%;
    border: 1px solid #ffffff;
    margin: 100px 100px 0px 0px;
    background-color: rgb(255, 250, 250);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#applicatie-outer-div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.applicatie-inner-div{
    height: 400px;
    width: 300px;
    cursor: pointer;
    margin: 10px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.7), 0 2px 1px -1px rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.6);
}

#video-container-landing{
    margin: 20px;
}

.applicatie-inner-div p{
    text-decoration: none;
    font-size: 22px;
    text-decoration: bold;
    font-weight: 600;
    margin: 30px 0px 30px 0px;
    padding: 0px 10px;
}

.applicatie-inner-div:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#guide-landing{
    background-image: url(../Images/guide-header.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#handig-landing{
    background-image: url(../Images/jackyactief.JPG);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#youtube-landing{
    background-image: url(../Images/youtube-channel.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#beton-landing{
    background-image: url(../Images/betonlook-gietvloer.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#duurzaam-landing{
    background-image: url(../Images/duurzaam.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#CTA-articles{
    background-color: #c4c4c4;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

#CTA-articles p{
    font-weight: bold;
}

#FAQ-landing{
    background-image: url(../Images/Header.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#keuken-landing{
    background-image: url(../Images/Keuken-roos-hoog.JPG);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#badkamer-landing{
    background-image: url(../Images/badkamer.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

#slaapkamer-landing{
    background-image: url(../Images/Gietvloer-slaapkamer.JPG);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

#werkplaats-landing{
    background-image: url(../Images/Werkplaats.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

#ondergronden-landing{
    background-image: url(../Images/Gietvloer-en-marmer.JPG);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

#CTA-kenniscentrum{
    width: 100%;
    background-color: #c4c4c4;
    cursor: pointer;
}

#CTA-kenniscentrum h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.top{
    background-color: #A00025;
    height: 100px;
    width: 100%;
}

.infoA h1{
    color: #A00025;
    font-size: 40px;
    border-bottom: 1px solid #3d3d3d;
    border-top: 1px solid #3d3d3d;
    border-color: #A00025;
}

#all-references{
    margin: 30px 0px 90px 0px;
    padding: 20px 20px 65px 20px;
    background-color: #a7bdbd26
}

.reference-inner-div{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    margin-top: 35px;
    background-color: white;
    box-shadow: 0 5px 9px -3px rgb(0 0 0 / 20%), 0 7px 21px -15px rgb(0 0 0 / 19%);
}

#headshot-subtitle{
    height: 100px;
    width: 100px;
    align-self: center;
    border-radius: 50%;
}

.reference-inner-div h3{
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color:#A00025;
}

.infoA h2{
    color: #3d3d3d;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 300;
}

#kleurdiv{
    height: 600px;
    width: 300px;
    border: 1px solid #c4c4c4;
    border-radius: 15px;
    margin: 3%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
}

#sectionBHead{
    background-color: #c4c4c4;
    width: 100%;
}

#sectionBHead a{
    text-decoration: none;
}

#sectionB{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../Images/karelkleurClean.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    width: 100%;
}

#sectionB h2{
    margin-top: 70px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 600;
}

.icon{
    margin-right: 10px;
}

/* Footer */

#footer{
    background-color: rgba(227, 227, 227, 0.5); 
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 0px; 
    text-align: center;
}

.footer-div{
    width: auto;
    text-align: center;
    margin: 15px;
}

.footer-div img{
    margin-top: 15px;
}

#experts-footer{
    text-decoration: underline;
    color: #A00025;
    font-size: 16px;
}

#all-references h2{
    text-align: center;
}

#socials{
    margin-top: 25px;
}

#slogan-footer{
    font-weight: 1000;
}

#officiele-docs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/*Cookie notice */

#cookie-notice-div{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0px 30px;
}

#cookie-notice-div a{
    font-size: 14px;
}

#cookie-notice-div button{
    margin: 8px 0px 0px 0px;
}

/* bedankt pagina */

#bedankt-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bedankt-h1{
    color: #A00025;
    margin-top: 100px;
}

#bedankt-h2{
    text-align: left;
    margin: 25px 50px 100px 50px;
}

#low-header{
    background-image: url(../Images/Experts-Jacky.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 300px;
}

#partner-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

/* Privacy statement */

#privacy-statement-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px 50px 100px;
}

#privacy-statement-main h1{
    color: #A00025;
    font-size: 70px;
}

#reference{
    background-color: #c4c4c4;
    width: 100%;
    padding: 100px 0px;
}

#reference-inner-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reference-card{
    padding: 20px;
    height: auto;
    width: 300px;
    margin: 30px 10px 10px 10px;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 70%), 0 2px 1px -1px rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 60%);
}

.reference-card h3{
    margin: 5px 5px 20px 5px;
    color:#A00025;
    border-bottom: 1px solid lightgray;
}

/* Media queries */

@media only screen and (max-width: 938px){
    #titelhead{
        font-size: 40px;
        margin: 100px 20px 50px 20px;
    }

    #titel-light{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    

    #titel{
        width: 90%;
        height: 90%; 
    }

    #titeltext{
        font-size: 40px;
    }

    #subtitel{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
    }   
    
    #footer-div{
        margin: 30px;
    }

    #kiezer{
        font-size: 40px;
        margin: 20px;
    }

    #landing-light{
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 100%;
        background-image: url(../Images/Keuken-roos-hoog.JPG);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #menu{
        display: flex;
        flex-direction: column;
    }

    #menu ul{
        display: none;
    }

    #menu li{
        padding: 0px;
        width: 100%;
        align-self: center;
    }

    #menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 15px;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    #mobile-menu li{
        padding: 0px;
        color: #3d3d3d;
        font-size: 16px;
        letter-spacing: 0.8px;
        font-weight: bold;
    }

    #menuItems a:link{
        text-decoration: none;
        color: #3d3d3d;   
    }
    
    #menuItems a:visited{
        text-decoration: none;
        color: #3d3d3d;   
    }
    
    #menuItems a:active{
        text-decoration: none;
        color: #A00025;   
    }
    
    #menuItems a:hover{
        text-decoration: none;
        color: #A00025;   
    }

    #logo{
        margin: 7px 10px 0px 20px !important;
    }

    #hamburger-menu{
        background-image: url(../Images/Hamburger-menu-icon-zwart.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 20px;
        height: 20px;
        align-self: center;
        margin-right: 10px;
        }

    .modal-h1{
        width: 100%;
        font-size: 30px;
    }
    
    #footer{
        display: flex;
        flex-direction: column;
    }

    #sectionB{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        background-image: url(../Images/karelkleurClean.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 420px;
        width: 100%;
    }

    #sectionB h2{
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 30px;
    }

    .footer-div{
        width: auto;
    }

    #footer-logo{
        width: 75%;
    }

    #prijs-tool input{
        border: #3d3d3d;
        border-radius: 2px;
        background-color: rgba(227, 227, 227);
    }

    #prijs-tool{
        height: 100px;
    }

    #prijs-tool h3{
        margin: 5px;
        display: none;
    }

    #prijs-tool p{
        margin: 5px;
        font-size: 16px;
    }

    .all-options-prijs-tool{
        font-size: 12px !important;
    }

    #cookie-notice-div P{
        font-size: 16px;
    }

    #sectionA {
        width: 100%;
    }

    #logo-menu {
        width: 300px;
    }

    #slogan-footer {
        margin: 0px;
    }

    #socials {
        margin-top: 0px;
    }

    .logo-container{
        display: flex;
    }
}